/4-crud-code-along/node_modules
/5-web-server/node_modules
/7-recipe-project/node_modules
/8-sign-finder/node_modules
/9-programming-language-api/node_modules
/9-programming-language-api/src/config.js
